fonts = 'ostrich_sansblack', helvetica, arial, sans-serif

.section.plans {
  background: #E6DFD1;
  padding: 20px 0;
}

.plan-list {
  height: 381px;
  margin: 0 0 10px;
}

.btn-checkout {
  padding: 10px 0 0;
  color: #181818;
  line-height: 40px;
  font-family: fonts;
  font-size: 35px;
  background-color: #00a651;
  border-color: #008d45;

  &:hover {
    color: #181818;
    background-color: #00984a;
    border-color: #008d45;
  }
}