fonts = 'ostrich_sansblack', helvetica, arial, sans-serif

#stripe-modal {
  .btn-primary {
    font-size: 18px;
    padding: 2px 15px;
    height: 34px;
    line-height: 34px;
    color: #181818;
    font-family: fonts;
    background-color: #00A651;
    border-color: #008D45;

    &:hover {
      color: #181818;
      background-color: #00984A;
      border-color: #008D45;
    }
  }

  .modal-footer {
    margin-top: 0;
  }

  .btn-default {
    font-size: 18px;
    padding: 2px 15px;
    height: 34px;
    line-height: 34px;
    font-family: fonts;
  }
}

.btn-primary[disabled] {
  background-color: #6DA689;
  border-color: #89A697;
}

#inputMonth {
  width: 50px;
  float: left;
  margin-right: 10px;
}

#inputYear {
  width: auto;
  float: left;
}

#inputCVC {
  width: 60px;
}